<% provide(:title, "Projects") %>
<section class="content projects wow fadeInUp">
  <!-- Project Item Headline -->
  <div class="row center block col-md-12 col-xs-12">
    <h1>
      Rails-to-Linux SSH: Blackjack
    </h1>
  </div>
  <!-- Begin Project Item -->
  <div class="row center">
    <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
      <div class="block">
        <%= link_to blackjack_path do %>
          <%= image_tag "blackjack.png", class: "img-responsive" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12">
      <div class="block">
        <p>         
          In order to save dyno consumption (and hosting fees),
          I have disabled this formerly deployed Redis setup.
          The code is available on Github. Previously, I deployed 
          some C++ code on a Linux instance and wrote a Ruby class
          to talk to it using Sidekiq and Net-SSH. JQueryTerminal and
          ActionCable were used to send/receive strings to and from
          the browser. 
          <br /><br />
          <a href="https://github.com/jstacer/blackjack/blob/master/Blackjack.cpp" target="_blank">
             Blackjack C++
          </a>
          &nbsp&nbsp|&nbsp&nbsp
          <a href="https://github.com/jstacer/stacer-online/blob/master/app/workers/blackjack_worker.rb" target="_blank">
             Blackjack Worker Ruby class
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Project Item -->
  <br />
  <br />
  <!-- Project Item Headline -->
  <div class="row center block col-md-12 col-xs-12">
    <h1>
      Rails 5 Tutorial: Twitter Replica
    </h1>
  </div>
  <!-- Begin Project Item -->
  <div class="row center">
    <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
      <div class="block">
        <%= link_to "https://evening-dusk-12809.herokuapp.com/", target: "_blank" do %>
          <%= image_tag "sampleapp.png", class: "img-responsive" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12">
      <div class="block">
        <p>         
          This 14-chapter
          <a href="https://www.railstutorial.org/" target="_blank">
             tutorial
          </a>
          steps through building and deploying a Twitter-style application. 
          Among many key concepts, it covers MVC, testing, 
          model validation, mailers, model relationships,
          and building a user authentication / authorization /
          activation system from scratch. Upon completion, the
          app allows for user signup, posting "microposts" (images
          as well), and following other users to create a personal feed.
          <br /><br />
          <a href="https://evening-dusk-12809.herokuapp.com/" target="_blank">
             App in production
          </a>&nbsp&nbsp|&nbsp&nbsp
          <a href="https://github.com/jstacer/hartl-sample-app" target="_blank">
             Github repository
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Project Item -->

  <div class="row center">
    <br />
    <br />
    <br />
    <div id="moretocome">
      <strong>More projects coming soon</strong>
    </div>
  </div>
</section>